body {
  margin: 0;
  padding: 0;
  background-color: #212529;
}

#app {
  margin: 0;
  padding: 2em 0;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
}

@media print {
  body {
    background-color: white;
  }
}

@page {
  size: a4 portrait;
  margin: 0;
}
