:root {
  --bg-color: #1e1e2f;
  --primary-color: #27293d;
  --accent-color: rgb(83, 78, 108);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
}

@media print {
  body {
    background-color: white;
  }
}

@page {
  size: a4 portrait;
  margin: 1rem 0;
}
