td {
	border: 1px black solid;
	min-width: 1em;
	height: 1em;
	text-align: center;
}

td.monthEnd {
	border-right: 3px black solid;
}

td.monthStart {
	border-left: 3px black solid;
}

.off{
	background-color: dimgray;
}

table {
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-top: 1em;
}

input[type="color"] {
	height: 1.7em;
}